<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>DropOem</key>
			<false/>
			<key>Generate</key>
			<dict>
				<key>APSN</key>
				<true/>
				<key>PluginType</key>
				<true/>
				<key>PStates</key>
				<false/>
				<key>APLF</key>
				<true/>
				<key>CStates</key>
				<false/>
			</dict>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>#MCFG</string>
			</dict>
			<dict>
				<key>TableId</key>
				<string>xh_rvp10</string>
				<key>Signature</key>
				<string>SSDT</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
		</array>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _DSM to XSDM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>oAqTU1RBUwE=</data>
					<key>Replace</key>
					<data>oAqRCv8L//8=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>Fix AsRock Z390 BIOS DSDT Device(RTC) bug</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>T1NJRA==</data>
					<key>Replace</key>
					<data>SURPUw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change OSID to IDOS</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMQ==</data>
					<key>Replace</key>
					<data>RUgwMQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC1 to EH01</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUhDMg==</data>
					<key>Replace</key>
					<data>RUgwMg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EHC2 to EH02</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SERBUw==</data>
					<key>Replace</key>
					<data>SERFRg==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>IEJSVDY=</data>
					<key>Replace</key>
					<data>IEJSVFg=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>chang BRT6 to BRTX</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>QURCRwk=</data>
					<key>Replace</key>
					<data>WERCRwk=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change ADBG to XDBG</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R1BSVwI=</data>
					<key>Replace</key>
					<data>WFBSVwI=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GPRW to XPRW</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1BUUwE=</data>
					<key>Replace</key>
					<data>WlBUUwE=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _PTS to ZPTS</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1dBSwk=</data>
					<key>Replace</key>
					<data>WldBSwk=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _WAK to ZWAK</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>TEdQQQk=</data>
					<key>Replace</key>
					<data>WEdQQQk=</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change LGPA to XGPA</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExRA==</data>
					<key>Replace</key>
					<data>WFExRA==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _Q1D to XQ1D</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X1ExQw==</data>
					<key>Replace</key>
					<data>WFExQw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _Q1C to XQ1C</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>FixLAN</key>
				<false/>
			</dict>
			<key>DropOEM_DSM</key>
			<false/>
			<key>Debug</key>
			<false/>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NoEarlyProgress</key>
		<true/>
		<key>DisableCloverHotkeys</key>
		<true/>
		<key>Secure</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>Arguments</key>
		<string>darkwake=8 shikigva=1 igfxrst=1 -disablegfxfirmware igfxfw=1 brcmfx-country=#a brcmfx-driver=1 -v vsmcgen=1 -lilubetaall -vsmcbeta</string>
		<key>XMPDetection</key>
		<string>Yes</string>
		<key>Timeout</key>
		<integer>3</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>PlayAsync</key>
		<true/>
		<key>Language</key>
		<string>en:0</string>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Hide</key>
		<array>
			<string>Preboot</string>
			<string>Recovery</string>
			<string>Windows</string>
			<string>Time Machine</string>
			<string>Recovery HD</string>
		</array>
		<key>ConsoleMode</key>
		<string>0</string>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>Mouse</key>
		<dict>
			<key>Mirror</key>
			<false/>
			<key>Speed</key>
			<integer>2</integer>
			<key>DoubleClick</key>
			<integer>300</integer>
			<key>Enabled</key>
			<false/>
		</dict>
		<key>Theme</key>
		<string>SimpleThemeDark</string>
	</dict>
	<key>CPU</key>
	<dict>
		<key>UseARTFrequency</key>
		<true/>
		<key>HWPEnable</key>
		<false/>
	</dict>
	<key>Devices</key>
	<dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>Audio</key>
		<dict>
			<key>ResetHDA</key>
			<false/>
			<key>AFGLowPowerState</key>
			<false/>
			<key>Inject</key>
			<integer>295</integer>
		</dict>
		<key>UseIntelHDMI</key>
		<true/>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>Inject</key>
			<true/>
		</dict>
		<key>NvidiaSingle</key>
		<false/>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>NvidiaNoEFI</key>
		<false/>
		<key>RadeonDeInit</key>
		<false/>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<false/>
		<key>KernelPm</key>
		<false/>
		<key>KernelLapic</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>AAAAYGwFAABsBQAAAAAAAA==</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>AAAAgGwFAABsBQAAAAAAAA==</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>显存1536MB-&gt;2048MB</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AgQKAAAEAACHAQAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>AgQKAAAIAACHAQAA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>HDMI-audio补丁,端口0204,0x59160000</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AQUJAAAEAACHAQAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>AQUJAAAIAACHAQAA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>HDMI-audio补丁,端口0105,0x59160000</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AgQKAAAIAACHAQAAAwYKAAAEAACHAQAA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleIntelKBLGraphicsFramebuffer</string>
				<key>Replace</key>
				<data>AQUKAAAIAACHAQAAAgQKAAAIAACHAQAA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>HDMI-audio补丁,端口0105,0x591b0000</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>AEFQUExFIFNTRAA=</data>
				<key>Name</key>
				<string>com.apple.iokit.IOAHCIBlockStorage</string>
				<key>Replace</key>
				<data>AAAAAAAAAAAAAAA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Enable TRIM for SSD</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>RiV1VCUwNHgA</data>
				<key>Name</key>
				<string>com.apple.driver.AppleBacklight</string>
				<key>Replace</key>
				<data>RiV1VHh4eHgA</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>AppleBacklightInjector.kext (credit RehabMan)</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>RXh0ZXJuYWw=</data>
				<key>Name</key>
				<string>com.apple.driver.AppleAHCIPort</string>
				<key>Replace</key>
				<data>SW50ZXJuYWw=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>扩展磁盘图标补丁</string>
				<key>InfoPlistPatch</key>
				<false/>
			</dict>
			<dict>
				<key>Find</key>
				<data>g32UDw+DlwQ=</data>
				<key>Comment</key>
				<string>USB remove limit (10.13.4)</string>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>g32UHw+DlwQ=</data>
				<key>MatchOS</key>
				<string>10.13.4</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>g32MEA==</data>
				<key>Comment</key>
				<string>change 15 port limit to 26 in XHCI kext</string>
				<key>Disabled</key>
				<false/>
				<key>InfoPlistPatch</key>
				<false/>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCIPCI</string>
				<key>Replace</key>
				<data>g32MGw==</data>
				<key>MatchOS</key>
				<string>10.13.0,10.13.1,10.13.2,10.13.3</string>
			</dict>
		</array>
		<key>KernelXCPM</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>KernelToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>sABMi1Xw</data>
				<key>Replace</key>
				<data>SIPEQF3D</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Debug kernel</string>
				<key>MatchOS</key>
				<string>10.13</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>igKEwHRE</data>
				<key>Replace</key>
				<data>igKEwOtE</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Disable panic kext logging on 10.13 Release kernel</string>
				<key>MatchOS</key>
				<string>10.13</string>
			</dict>
			<dict>
				<key>Find</key>
				<data>ILniAAAADzA=</data>
				<key>Replace</key>
				<data>ILniAAAAkJA=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>MSR 0xE2 _xcpm_idle instant reboot(c) Pike R. Alpha</string>
			</dict>
		</array>
		<key>ForceKextsToLoad</key>
		<array>
			<string>\System\Library\Extensions\IO80211Family.kext</string>
		</array>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>KernelCpu</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>ROM</key>
		<data>sAkOT+Vp</data>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x13</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>FirmwareFeatures</key>
		<string>0xFC0FE137</string>
		<key>Board-ID</key>
		<string>Mac-827FB448E656EC26</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFF1FFF3F</string>
		<key>BoardVersion</key>
		<string>1.0</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x09</string>
		<key>BiosVersion</key>
		<string>MBP152.88Z.F000.B00.1904222000</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisAssetTag</key>
		<string>MacBook-Aluminum</string>
		<key>PlatformFeature</key>
		<string>0x1A</string>
		<key>Family</key>
		<string>MacBook Pro</string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string>C02802609QXJH4R8C</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>ProductName</key>
		<string>MacBookPro15,2</string>
		<key>SmUUID</key>
		<string>09F307B0-1391-4BA5-BFFF-9948068A7280</string>
		<key>Mobile</key>
		<true/>
		<key>BoardType</key>
		<integer>10</integer>
		<key>EfiVersion</key>
		<string>220.260.170.0.0</string>
		<key>SerialNumber</key>
		<string>C02W3PZFJHCD</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>BiosReleaseDate</key>
		<string>04/22/2019</string>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>CustomUUID</key>
		<string>E56A8BA1-8A1C-56EC-9808-5017D2AAF521</string>
		<key>InjectSystemID</key>
		<true/>
		<key>ExposeSysVariables</key>
		<true/>
		<key>InjectKexts</key>
		<string>Detect</string>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>DisableIoMapper</key>
		<false/>
		<key>XhciPortLimit</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>SyncRuntimePermissions</key>
		<false/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>PowerTimeoutKernelPanic</key>
		<true/>
		<key>SetupVirtualMap</key>
		<true/>
		<key>DisableLinkeditJettison</key>
		<false/>
		<key>FuzzyMatch</key>
		<false/>
	</dict>
</dict>
</plist>